<html>
<head>
    <link rel="stylesheet" href="{f:uri.resource(path: 'Css/index-kroenerdigital.css', extensionName: 'OkPriveCookieConsent')}" />
    <script defer src="{f:uri.resource(path: 'JavaScript/index-kroenerdigital.js', extensionName: 'OkPriveCookieConsent')}"></script>
</head>

<body data-bs-theme="dark" class="overflow-auto">
    <!-- Render the content for the backend module -->
    <div class="d-flex mx-3 row">
        <f:flashMessages />
        <f:render section="content" />
    </div>
</body>
</html>
