<f:layout name="Backend" />

<f:section name="content">
    <div class="d-flex row overflow-y">
        <h1 class="mt-4 col-12">
            <f:translate key="form.header.cookie_consent_script" />
        </h1>
        <f:form action="save" class="mt-3">
            <div class="form-group">
                <label for="monaco-editor">
                    <f:translate key="form.label.banner_script" />
                </label>
                <!-- Container for Monaco Editor -->
                <div id="monaco-editor"></div>

                <f:form.textarea 
                    id="tx_ok_prive_cookie_consent_banner_script"
                    name="tx_ok_prive_cookie_consent_banner_script" 
                    value="{tx_ok_prive_cookie_consent_banner_script}" 
                    rows="10" 
                    cols="80" 
                    placeholder="{f:translate(key:'form.placeholder.javascript_code')}" 
                    class="form-control" 
                />
            </div>
            <f:form.submit value="{f:translate(key:'form.button.save')}" class="btn btn-success mt-2" />
        </f:form>
    </div>
</f:section>
